#
# comment
#

# editer temp file
*~

# os depend file
.DS_Store
.Thumbs.db

# ruby bundle install vender 
vender/

# all .cache .backup and .tmp file
*.cache
*.backup
*.back
*.tmp
*.swap
*~
Gemfile.lock

#
*.o

